{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ product.title }}</h1>
        </div>
        <div class="col">
            <p><strong>{{ product.description }}</strong></p>
            {% if product.price <= 500 %}
                <p class="btn-success">{{ product.price }}</p>
            {% else %}
                <p class="btn-danger">{{ product.price }}</p>
            {% endif %}
        </div>
        <div class='col'>
            <p>{{ product.quantity }}</p>
        </div>
    </div>
{% endblock %}